asgiref==3.3.1
bleach==4.0.0
cffi==1.14.5
chardet==4.0.0
click==7.1.2
coloredlogs==15.0
cryptography==3.4.7
dj-database-url==0.5.0
Django==2.0.13
django-bleach==0.7.2
django-email-extras==0.3.4
django-forms-builder==0.14.0
django-heroku==0.3.1
django-reset-migrations==0.4.0
django-social-share==2.2.1
django-social-widgets==0.5.0
evernote==1.19
Flask==1.1.2
future==0.15.0
gunicorn==20.0.4
humanfriendly==9.1
img2pdf==0.4.0
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.6.3
MarkupSafe==1.1.1
numpy==1.20.2
ocrmypdf==12.0.1
packaging==21.0
pandas==1.2.4
pdf2image==1.14.0
pdfminer.six==20201018
pikepdf==2.11.4
Pillow==8.2.0
pluggy==0.13.1
psycopg2==2.8.6
psycopg2-binary==2.9.1
pycparser==2.20
pygrok==1.0.0
pyparsing==2.4.7
PyPDF2==1.26.0
pypdfocr==0.9.1
pyreadline==2.1
pytesseract==0.3.7
python-dateutil==2.8.1
python-gnupg==0.4.7
pytz==2020.5
regex==2021.8.3
reportlab==3.5.67
six==1.15.0
sortedcontainers==2.3.0
sphinx-me==0.3
sqlparse==0.4.1
tqdm==4.60.0
Unidecode==1.2.0
UNKNOWN==0.0.0
Wand==0.6.6
watchdog==2.0.3
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.2.0
