{% load static %}
<div class='social-share text-successs'> 
	<div class='social-share-button'>
		<a href="http://www.facebook.com/sharer.php?href={{ request.get_full_path }}">
			<img class='share-icon' src="{% static 'images/facebook.png' %}" alt=""> 
		</a>
	</div>
	<div class='social-share-button'>
		<a title="Share this on Reddit" href="http://reddit.com/submit?url={{ request.get_full_path }}&title=Covid Stories">
			<img class='share-icon' src="{% static 'images/reddit.png' %}" alt="">
		</a>
	</div> 
	<div class='social-share-button'>
		<a href="http://twitter.com/home?status=Check out this Awesome Site - {{ request.get_full_path }} @yourusername">
			<img class='share-icon' src="{% static 'images/twitter.png' %}" alt="">
		</a>
	</div>
</div>